div.outer-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, .7);
}
div.outer-loader.hidden {
    display: none;
}

/**
* Comments in CSS
**/
div.inner-loader {
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 256px;
    height: 256px;
    transform: translateY(-50%);
}

/**
* Color alternate in our table rows
**/
table tbody tr:nth-child(even) {
    background-color: rgba(12, 12, 200, .5);
}

[check-uncheck-all]:checked {
    color: red;
    background-color: red;
    border: dotted 1px red;
}